@media screen and (max-width: 600px) {
  .pop-up-info-window {
    height: 40%;
  }
  .pop-up-info-message {
    width: 90%;
    height: 80%;
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .pop-up-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .headline__div {
    width: auto;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .headline__div h1 {
    font-size: 2rem;
    border-width: 0.1rem;
    margin-left: 1rem;
  }
  .headline__div img {
    margin-left: 0rem;
  }
  .input-div {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-button {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-select {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    width: 100%;
    height: 2.7rem;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  .button {
    font-size: 1.2rem;
    border-radius: 0.5rem;
    font-family: var(--font-variable);
    cursor: pointer;
  }
  .weather-search-button {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }
  .addFavorite-button,
  .deleteFavorite-button {
    font-size: 1.5rem;
  }
  .select__headline {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
  }
  select {
    width: 12rem;
    font-size: 1.5rem;
  }
  .weather-cityname-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .weather-cityname {
    font-size: 1.7rem;
  }
  .weather-button-div {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .addFavorite-button,
  .deleteFavorite-button {
    margin-top: 0;
    width: 0;
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
  .current-weather__headline,
  .weather-24-h__headline,
  .two-days-weather__headline {
    font-size: 1.5rem;
    text-align: center;
  }
  .current-weather__date,
  .two-days-weather__date,
  .weather-24-h__clock {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .weather-description,
  .weather-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .weather-temperature,
  .weather-wind-speed {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .weather-description,
  .weather-img,
  .weather-temperature,
  .weather-wind-speed {
    width: 70%;
    font-size: 1.3rem;
  }
  .weather-output-collect {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .current-weather__data {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 1rem;
    padding: 0;
  }
  .weather-24-h__div {
    width: 100%;
  }
  .weather-24-h__collect {
    margin: 0;
    border: 1px solid;
    border-radius: 0.5rem;
    height: 22rem;
    overflow: auto;
  }
  .two-days-weather__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .two-days-weather__collect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
  }
  .two-days-weather__part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
  }
  .two-days-current__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 600px) {
  .pop-up-info-window {
    height: 50%;
  }
  .pop-up-info-message {
    width: 80%;
    height: 60%;
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .pop-up-button {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
  }
  .headline__div {
    text-align: center;
  }
  .input-div {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .input-button {
    width: 100%;
    margin: 0;
  }
  input {
    margin: 2rem auto;
    width: 30rem;
  }
  .input-select {
    margin: 0;
    width: 100%;
  }
  .weather-search-button {
    width: 25rem;
    height: 3.5rem;
    font-size: 2rem;
    margin: 1rem auto 2rem;
  }
  .weather-cityname-button-div {
    width: 100%;
  }
  .weather-button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5rem;
  }
  .addFavorite-button,
  .deleteFavorite-button {
    font-size: 2rem;
    padding: 1rem 2.5rem;
  }
  .weather-output-collect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .current-weather-div {
    border: 1px solid black;
    margin-top: 5rem;
  }
  .weather-button-div {
    margin-top: 2rem;
  }
  .weather-24-h {
    margin-bottom: 0;
  }
  .weather-24-h-headline {
    margin-top: 10rem;
  }
  .weather-24-h__collect {
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 30rem;
  }
  .two-days-weather__div {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .two-days-weather__collect {
    display: grid;
    grid-template-columns: auto;
  }
  .two-days-weather__part {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .two-days-current__weather {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }
  .weather-wind-speed,
  .weather-temperature,
  .weather-description {
    width: 80%;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .input-div {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .input-button {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .input-select {
    margin-left: 5rem;
  }
  .weather-button-div {
    gap: 5rem;
  }
  .addFavorite-button,
  .deleteFavorite-button {
    font-size: 2.5rem;
  }
  .weather-temperature,
  .weather-description,
  .weather-wind-speed {
    font-size: 2rem;
  }
  .current-weather-div {
    margin-top: 5rem;
  }
  .weather-24-h__collect {
    overflow: auto;
  }
}

/*# sourceMappingURL=Wetter-App%20Responsive.css.map */
